@font-face {
    font-family: 'Mont-regular';
    src: url(../assets/fonts/Mont-Regular.woff2);
}
@font-face {
    font-family: 'Mont-bold';
    src: url(../assets/fonts/Mont-Bold.woff2);
}

body{
    color: #fff;
    font-family: 'Mont-regular';
}

.container{
    max-width: 1140px;
    margin: auto;
}

.header{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}

.nav-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-menu-item{
    margin-right: 30px;
}

.logo-link{
    display: inline-block;
    margin-right: 50px;
}
.nav-menu-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.film-date{
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 38px;
}
.film-description{
    margin-top: 40px;
    max-width: 423px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.button-group{
    padding-top: 70px;
}

.button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-icon, .button-text{
    display: inline-block;
    vertical-align: middle;
}

.button-text{
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}

.button-primary{
    color: #8D0019;
    background-color: #fff;
}

.button-link{
    color: #fff;
}

.venom {
    position: absolute;
    top: 0;
    right: 0;
}

.blood{
    background: url(../assets/images/blood.png) no-repeat top right ,#14131A url(../assets/images/background.png) no-repeat center center / 100%;
}